.idea/
node_modules/
build
.DS_Store
.env
secrets.sh

# We are using yarn
package-lock.json
yarn-error.log

# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
*.auto.tfvars
setup.sh
